* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.outer-container {
    background-color: #23424A;
}

.container {
    padding: 5rem;
    width: 65%;
}

h1 {
    color: white;
    font-weight: 900;
    font-size: 48px;
}

p {
   color: white;
   font-weight: 400;
   line-height: 2;
   font-size: 21px;
}

.btn {
    font-size: 21px;
    color: black;
    font-weight: 700;
    background-color: #38CFD9;
    padding: 1rem 3rem;
    border-radius: 2rem;
    text-transform: uppercase;
}
/* test */